body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  color: rgba(0,0,0,0.54);
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: rgba(0,0,0,0.54);
  text-decoration: none;
}

.title-link,
.category-link {
  color: #4FB99F;
  font-weight: 900;
}

.title-link {
  font-size: 1.2em;
}

/* AddPostForm */
button.add,
input[type="submit"] {
  border: none;
  color: white;
  background: #4FB99F;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

button.add {
  margin-top: 60px;
  width: 100%;
}

.vote-component {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.post-info,
.comment-info {
  display: inline-block;
  vertical-align: middle;
}

.voteButton {
  font-size: 42px;
  cursor: pointer;
  user-select: none;
  display: block;
}

.delete-button {
  background: #ff5252;
  color: white;
  border-radius: 5px;
  padding: 1px 5px;
}

.edit-button {
  font-size: 20px;
  border-radius: 5px;
  padding: 1px 5px;
}

.modal {
  display: inline;
  vertical-align: middle;
}

.modal-title {
  display: inline;
  vertical-align: middle;
  color: #4FB99F;
}

.modal-close {
  display: inline;
  cursor: pointer;
  font-size: 2em;
  vertical-align: middle;
  float: right;
  color: #333;
}

label {
  display: block;
  margin: 15px 0;
}

label input,
label textarea {
  min-width: 300px;
  border-radius: 5px;
  background: white;
  border: 1px solid #333;
  padding: 10px;
}

select {
  background-color: white;
  border: 1px solid #333;
  font-family: Arial,sans-serif;
  height: 35px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sort-comments-label {
  width: 300px;
}

.comments-content {
  margin-top: 80px;
  margin-left: 40px;
}

/* filters */
.filters {
  position: fixed;
  right: 0;
  top: 0px;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
  height: 100vh;
  background: white;
  border-left: 1px solid #cbcbcb;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.select-sort-label {
  margin-top: 40px;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

/* NavBar */
nav {
  padding: 0px 40px;
  border-bottom: 1px solid #cbcbcb;
  background: white;
  width: 100%;
}

.RedCircle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #ff5252;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.LogoFont {
  display: inline-block;
  vertical-align: middle;
}

.hamburger {
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 40px;
}

/* Post */
.Post {
  padding: 10px 40px;
  z-index: -9999999999999;
}

.Comment {
  margin-bottom: 40px;
}

.post-body,
.comment-body {
  color: #333;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.add-comment-form {
  width: 300px;
  margin-top: 80px;
  margin-left: 40px;
  background: #eee;
  padding: 20px;
}

/* Posts */
.Posts {
  width: 100%;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: -9999999999999;
}

@media only screen and (max-width: 767px) {

  .overlay {
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .overlay .slide-out {
    display: none;
  }
}
