body {
  margin: 0;
  padding: 0;
  font-family: 'Futura', sans-serif;
  color: rgba(0,0,0,0.54);
}

a {
  color: rgba(0,0,0,0.54);
  text-decoration: none;
}

.title-link,
.category-link {
  color: #4FB99F;
  font-weight: 900;
}

.title-link {
  font-size: 1.2em;
}

/* AddPostForm */
button.add {
  border: none;
  color: white;
  background: #4FB99F;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  display: block;
}

.vote-component {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.post-info {
  display: inline-block;
  vertical-align: middle;
}

.voteButton {
  font-size: 42px;
  cursor: pointer;
  user-select: none;
  display: block;
}

.delete-button {
  background: #ff5252;
  color: white;
  border-radius: 5px;
  padding: 1px 5px;
}

.edit-button {
  font-size: 20px;
  border-radius: 5px;
  padding: 1px 5px;
}

.modal {
  display: inline;
  vertical-align: middle;
}

/* filters */
.filters {
  position: fixed;
  right: 0;
  top: 68px;
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
  height: 100vh;
  border-left: 1px solid #cbcbcb;
}

label {
  display: block;
}

/* NavBar */
nav {
  padding: 0px 40px;
  border-bottom: 1px solid #cbcbcb;
  background: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}

.RedCircle {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #ff5252;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.LogoFont {
  display: inline-block;
  vertical-align: middle;
}

/* Post */
.Post {
  border: 1px solid #cbcbcb;
  padding: 10px 40px;
}

/* Posts */
.Posts {
  width: calc(100% - 250px);
  position: absolute;
  top: 68px;
  left: 0;
  z-index: -999999;
}
